
.banner {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 150px;
  font-size: 25px;
  padding-top: 80px;
  
}

#exercise-btn{
border-radius: 10px;
width: 250px;
height: 30px;
background-color:  #0066b2;
border: none;
font-size: 15px;
color: aliceblue;
}

.exercise-auth{
  background-color: white;
  text-align: center;
}

.exercise-auth img {
  display: flex;
  height: 320px;
  width: 300px;
  object-fit:cover;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.record-form{
  
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:#B9D9EB;
  border-radius: 5px;
  border-color: red;
  border: solid 1px darkblue;
  /* justify-content: center; */

}

.input-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 8px 0;
    justify-content: center;
    padding: 10px;
    /* border-radius: 10px; */
    /* border: solid 1px; */
    margin-left: 25px;

}

#form-btn{
margin: 0 auto;}