.navbar {
  padding: 10px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  margin-right: 140px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#logo {
  width: 180px;
  height: 100px;
  margin-left: 170px;
}



#signin, #register, #signout{
border-radius: 10px;
width: 100px;
height: 35px;
background-color:  #0066b2;
border: none;
font-size: 17px;
color: aliceblue;
margin-bottom: 5px;

}


